<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单列表信息</title>
</head>
<body>
<table border="1">
    <tr>
        <td>支付金额</td>
        <td>用户id</td>
        <td>创建时间</td>
        <td>支付状态</td>
        <td>订单状态</td>
        <td>操作</td>
    </tr>
    <tr th:each="orderInfo: ${orderlist}">
        <td><span th:text="${orderInfo.payamount}"></span></td>
        <td><span th:text="${orderInfo.userid}"></span></td>
        <td><span th:text="${orderInfo.createtime}"></span></td>
        <td><span th:switch="${orderInfo.paystatus}"><span th:case="1">未支付</span><span th:case="2">已支付</span><span th:case="3">已退款</span></span></td>
        <td><span th:switch="${orderInfo.orderstatus}"><span th:case="1">正常</span><span th:case="2">失效</span></td>
        <td></td>
    </tr>
</table>
</body>
</html>